html {
    background-color: yellow; 
}

body {
    width: 650px; 
    margin: 0 auto; 
    border: 5px double blue;
    padding: 20px; 
}

main {
    padding: 15px; 
}

footer {
    background-color: white;
    border-top: 5px solid blue; 
    padding-top: 10px; 
}

h1 {
    font-size: 150%; 
    color: blue; 
    margin: 20px 0;
}

h2 {
    font-size: 125%; 
    margin: 15px 0; 
}

h3 {
    font-size: 115%; 
    margin: 10px 0; 
}

p, blockquote, ul, li {
    margin: 15px 0; 
}

cite {
    color: blue; 
    font-style: normal; 
}

p.cite-paragraph {
    text-align: right; 
    margin-bottom: 0.75em; 
}

img {
    float: left; 
    margin-right: 15px; 
}

footer p {
    font-size: 90%; 
    font-weight: bold; 
    text-align: center; 
    margin: 10px 0; 
}

