body {
    background-color: yellow;
    width: 650px;
    margin: 0 auto;
    border: 5px double blue;
    padding: 20px;
}

main {
    padding: 20px;
}

footer {
    border-top: 2px solid blue;
    text-align: center;
    font-size: 90%;
    font-weight: bold;
    padding: 10px 0;
}

h1 {
    font-size: 150%;
    color: blue;
    margin-bottom: 10px;
}

h2 {
    font-size: 125%;
    margin-bottom: 10px;
}

h3 {
    font-size: 115%;
    margin-bottom: 10px;
}

p, blockquote, ul, li {
    margin-bottom: 15px;
}

cite {
    color: blue;
    font-style: normal;
}

p.cite-paragraph {
    text-align: right;
    margin-bottom: 0.75em;
}

img {
    float: left;
    margin-right: 15px;
}

footer p {
    font-size: 90%;
    font-weight: bold;
    text-align: center;
    margin-top: 10px;
}
